.block {
  position: relative;
  min-width: 100%;
  min-height: 850px;
  overflow: hidden;
  background-color: black;
  .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.background-icons {
  z-index: -1;
}

.parallax-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.parallax-conf {
  display: block;
  opacity: 0.97;
  border-radius: 5px;
  filter: invert(14%) sepia(37%) saturate(2745%) hue-rotate(205deg)
    brightness(86%) contrast(93%);
  transition: all 0.3s ease;
  animation: box 8s ease infinite;
  &.big {
    width: 120px;
    height: 120px;
  }
  &.middle {
    width: 45px;
    height: 45px;
  }
  &.small {
    width: 30px;
    height: 30px;
  }
  &.tiny {
    width: 20px;
    height: 20px;
  }
}

@keyframes box {
  20% {
    filter: invert(13%) sepia(8%) saturate(6251%) hue-rotate(179deg)
      brightness(96%) contrast(104%);
  }
  40% {
    filter: invert(7%) sepia(60%) saturate(4367%) hue-rotate(271deg)
      brightness(98%) contrast(104%);
  }
  60% {
    filter: invert(10%) sepia(26%) saturate(4221%) hue-rotate(251deg)
      brightness(99%) contrast(106%);
  }
  80% {
    filter: invert(11%) sepia(13%) saturate(6078%) hue-rotate(226deg)
      brightness(93%) contrast(93%);
  }
  100% {
    filter: invert(14%) sepia(37%) saturate(2745%) hue-rotate(205deg)
      brightness(86%) contrast(93%);
  }
}
