<div class="parallax-container is-hidden-touch">
  <ng-container *ngFor="let item of parallax_item">
    <ng-container [ngSwitch]="item.size">
      <ng-template ngSwitchCase="tiny">
        <span class="background-icons" parallaxItem [top]="item.top" [left]="item.left" [rotate]="item.rotate"
          [inversion]="item.inversion" [opacity]="item.opacity" [movement]="item.movement"><img [src]="item.src"
            class="parallax-conf tiny" alt="background-icons" /></span>
      </ng-template>
      <ng-template ngSwitchCase="small">
        <span class="background-icons" parallaxItem [top]="item.top" [left]="item.left" [rotate]="item.rotate"
          [inversion]="item.inversion" [opacity]="item.opacity" [movement]="item.movement"><img [src]="item.src"
            class="parallax-conf small" alt="background-icons" /></span>
      </ng-template>
      <ng-template ngSwitchCase="middle">
        <span class="background-icons" parallaxItem [top]="item.top" [left]="item.left" [rotate]="item.rotate"
          [inversion]="item.inversion" [opacity]="item.opacity" [movement]="item.movement"><img [src]="item.src"
            class="parallax-conf middle" alt="background-icons" /></span>
      </ng-template>
      <ng-template ngSwitchCase="big">
        <span class="background-icons" parallaxItem [top]="item.top" [left]="item.left" [rotate]="item.rotate"
          [inversion]="item.inversion" [opacity]="item.opacity" [movement]="item.movement"><img [src]="item.src"
            class="parallax-conf big" alt="background-icons" /></span>
      </ng-template>
      <ng-template ngSwitchDefault>loading</ng-template>
    </ng-container>
  </ng-container>
</div>