<div class="card">
  <figure class="image">
    <img class="borders" [src]="repositories.imageURL" alt="Placeholder image">
  </figure>
  <div class="card-padding">
    <h1 class="blue-color-strong">{{repositories.name}}</h1>
    <p class="gray-color size-font-small description-height has-text-justified">
      {{repositories.description}}
    </p>
    <div class="is-flex is-flex-wrap-wrap pb-2 card-height">
      <span *ngFor="let item of repositories.topics" class="tag tag-color m-1 has-text-black">{{item}}</span>
    </div>

    <a [href]="repositories.htmlURL" target="_blank" class="button size-font-small button-color white-color">View
      project<i class="ri-arrow-right-s-line"></i></a>
  </div>
</div>