<div class="animate__animated animate__bounceInUp">
  <h1 class=" white-color is-flex p-3 pt-5 margin-left">Education 👨🏻‍🎓</h1>
  <div class="gray-color p-5">
    /**
    <p class="gray-color p-3 has-text-justified	">
      I hold a degree in Computer Systems Technology from the Universidad del Valle 👨‍🎓, where I developed a strong
      foundation in computer science 💻. After completing my degree, I was determined to expand my knowledge and skills
      in the field, so I decided to pursue a career as a Systems Engineer.
      <br> <br>
      To stay up-to-date with the latest technologies, I have taken several online courses on platforms such as YouTube
      <i class="ri-youtube-line"></i>
      and Udemy 🌐, where I learned about Spring Boot and its applications in software development 🔍.
      <br> <br>
      Moreover, I have completed courses in web design, user experience, and front-end development using Angular 🌐.
      These courses have allowed me to enhance my skills in building responsive and user-friendly interfaces, as well as
      improving the overall user experience.
      <br> <br>
      Overall, I am dedicated to continuously improving my skills and knowledge in the field of computer science, and I
      am excited about the opportunities that lie ahead 🚀.
    </p>
    */
  </div>
</div>