<div class="animate__animated animate__bounceInUp">
  <h1 class=" white-color is-flex p-3 pt-5 border-color-bottom margin-left">Education</h1>
  <div class="gray-color p-5">
    /**
    <p class="gray-color p-3 has-text-justified	">

      I am a graduate of computer systems technology from the Universidad del Valle, then I decided to continue my
      studies
      to become a systems engineer.
      <br> <br>
      However I taked Spring Boot courses on platforms like youtube and Udemy.
      <br> <br>
      In additional, I finished courses in web design and user experience as well as front end development with Angular.
    </p>
    */
  </div>
</div>
