<div class="animate__animated animate__bounceInUp">
  <h1 class=" white-color is-flex p-3 pt-5 margin-left">Interests ✨</h1>

  <div class="gray-color p-5">
    /**
    <p class="gray-color p-3 has-text-justified	">

      I'm a person with a voracious hunger for knowledge, and being self-taught🥇 has led me to explore areas that were
      not in my original plans. This approach has helped me to improve and grow professionally, constantly seeking new
      challenges and opportunities for learning 📚. One arI also enjoyed the knowledge that I find particularly
      fascinating is UI/UX design ⚙️. This field allows me to unleash my creativity and find innovative solutions to
      problems, incorporating the latest trends and best practices to enhance the user experience 🎨.
      <br>
      <br>
      Besides that, I also enjoy the application development process, being able to develop the business logic, working
      it from the databases💾, to the construction of the entire back-end 💻, then in my favorite part, in which I most
      like to innovate the front-end✨ of the application, I am a faithful believer that in the details is the magic🪄
      <br>
      <br>
      Currently, I am studying the DevOps area 📖, which has taught me the importance of integrating this culture
      throughout the entire application development process. By implementing continuous integration and deployment 🚀, I
      have come to understand the significance of good software architecture for scalability and performance, ultimately
      providing clients with a professional product 🎉.
    </p>
    */
  </div>
</div>