<h1 class=" white-color is-flex p-3 pt-5 border-color-bottom">Interests</h1>

<div class="gray-color p-5">
  /**
  <p class="gray-color p-3 has-text-justified	">

    I'm very interested in application design as well as I like to build sites completely or know a little of each
    branch of this world of technology, a phrase I heard once, and it helped me a lot said: it's not necessary to
    know everything, if you know how to do a little of that, you'll be fine, you don't have to be an expert in
    something to know when someone is good at doing it.
    <br>
    <br>
    That said, you don't have to know everything to lead your team to success.
  </p>
  */
</div>
