<div class="animate__animated animate__bounceInUp">
  <h1 class=" white-color is-flex p-3 pt-5 margin-left">Interests ✨</h1>

  <div class="gray-color p-5">
    /**
    <p class="gray-color p-3 has-text-justified	">

      I'm a person with a voracious hunger for knowledge, being self-taught 🥇 has led me to learn things that were not
      really that relevant but I enjoyed the whole learning process;
      <br>
      <br>
      I really like UI(user interface) / UX (user experience) 📲 this area of knowledge allows me to fly 🚀 my
      imagination and look for a creative solution to a problem ⚙.
      <br>
      <br>
      Besides that, I also enjoy the application development process, being able to develop the business logic, working
      it from the databases💾, to the construction of the entire back-end 💻, then in my favorite part, in which I most
      like to innovate the front-end✨ of the application, I am a faithful believer that in the details is the magic🪄
    </p>
    */
  </div>
</div>