<div class="columns">
  <div class="column is-2 animate__animated animate__bounceInLeft">
    <app-side-bar-project [form]="form" [listProject]="listProject" (selected)="search($event)"></app-side-bar-project>
  </div>
  <div class="column margin-projects animate__animated animate__bounceInUp">
    <div class="columns scroll-info list-project is-flex is-flex-wrap-wrap is-justify-content-left">
      <app-projects class="column widthcard" *ngFor="let repositories of filterList" [repositories]="repositories">
      </app-projects>
    </div>
  </div>
</div>
