<div class="columns is-flex border-color">
  <div class="column is-2 item-nav">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" width="112" height="28">
    </a>
  </div>
  <div class="column is-10 is-flex">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    <div class="navbar-menu">
      <div class="navbar-start">
        <a routerLink="/home" class="item-nav" [ngClass]="{'is-active':router=='home'}">
          _hello
        </a>

        <a href="/about-me" class="item-nav" [ngClass]="{'is-active':router=='about-me'}">
          _about-me
        </a>

        <a routerLink="/projects" class="item-nav" [ngClass]="{'is-active':router=='projects'}">
          _projects
        </a>
      </div>

      <div class="navbar-end">
        <a routerLink="/contact-me" class="item-nav" [ngClass]="{'is-active':router=='contact-me'}">
          _contact-me
        </a>
      </div>
    </div>
  </div>

</div>
