<div class="pb-2 has-text-centered is-hidden-widescreen is-hidden-desktop-only">
  <a class="gray-color description-mobile" aria-label="Behance.net" href="https://www.behance.net/darelova"
    target="_blank">
    Design by ❤️ Darelova
  </a>
</div>
<div class="columns is-flex mt-2">
  <div class="column is-2 item-nav">
    <a class="is-flex is-align-items-center ml-6" routerLink="" aria-label="home">
      <img src="assets/logo.webp" width="45" alt="logoImage">
      <span class="navbar-text">JEstebanDev</span>
    </a>
  </div>
  <div class="column is-10 is-flex">
    <a (click)="navbar()" role="button" [ngClass]="{'is-active':mobileNavbar}" role="button" class="navbar-burger"
      aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
    <div class="blocker" [ngClass]="{'is-hidden':mobileNavbar==false}" (click)="hidePopup()"></div>
    <div class="navbar-menu stack-top borders" [ngClass]="{'is-active':mobileNavbar}">
      <div class="navbar-start">
        <a (click)="router=''" routerLink="/" class="item-nav" [ngClass]="{'is-active':router==''}">
          Hello <i class="ml-1 ri-user-smile-line"></i>
        </a>
        <a (click)="router='about-me'" href="/about-me/bio" class="item-nav"
          [ngClass]="{'is-active':router=='about-me'}">
          About me<i class="ml-1 ri-folder-2-line"></i>
        </a>
        <a (click)="router='projects'" routerLink="/projects" class="item-nav"
          [ngClass]="{'is-active':router=='projects'}">
          Projects<i class="ml-1 ri-apps-line"></i>
        </a>
      </div>
      <a (click)="router='contact-me'" routerLink="/contact-me"
        class="item-nav is-flex contact-me-buttom animate__animated animate__rubberBand animate__delay-4s"
        [ngClass]="{'is-active':router=='contact-me'}">
        Let's talk!<i class="ml-1 ri-chat-3-line"></i>
      </a>
    </div>
  </div>

</div>