<footer class="footer animate__animated animate__bounceInUp">
  <div class="is-flex">
    <div class="navbar-start is-flex item-nav-footer-social">
      <span class="item-nav-footer">
        find me in:
      </span>
      <a target="_blank" href="https://www.behance.net/jestebandev/projects" aria-label="behance" class="item-nav-footer">
        <i class="ri-behance-fill ri-lg"></i>
      </a>
      <a target="_blank" href="https://www.linkedin.com/in/jestebancastano/" aria-label="linkedin"
        class="item-nav-footer">
        <i class="ri-linkedin-fill ri-lg"></i>
      </a>

      <a target="_blank" href="https://github.com/JEstebanDev" aria-label="github" class="item-nav-footer">
        <i class="ri-github-fill ri-lg"></i>
      </a>
    </div>

    <div class="is-hidden-mobile item-nav-footer-design">
      <a href="https://www.behance.net/darelova" target="_blank" aria-label="Darelova" class="item-nav-footer">
        Design by ❤️ Darelova
      </a>
    </div>
  </div>
</footer>
