<footer class="footer border-color animate__animated animate__bounceInUp">
  <div class="is-flex">
    <div class="navbar-start is-flex">
      <span class="item-nav-footer">
        find me in:
      </span>
      <a target="_blank" href="https://www.linkedin.com/in/jestebancastano/" class="item-nav-footer">
        <i class="ri-linkedin-fill ri-lg"></i>
      </a>

      <a target="_blank" href="https://github.com/JEstebanDev" class="item-nav-footer">
        <i class="ri-github-fill ri-lg"></i>
      </a>
    </div>

    <div class="navbar-end is-hidden-mobile">
      <a href="https://www.behance.net/darelova" target="_blank" class="item-nav-footer">
        Design by Darelova
      </a>
    </div>
  </div>
</footer>
