<footer class="footer border-color">

  <div class="navbar-menu">
    <div class="navbar-start">
      <span class="item-nav-footer">
        find me in:
      </span>

      <a href="https://www.linkedin.com/in/jestebancastano/" class="item-nav-footer">
        <i class="ri-linkedin-fill ri-lg"></i>
      </a>

      <a href="https://github.com/JEstebanCDev" class="item-nav-footer">
        <i class="ri-github-fill ri-lg"></i>
      </a>
    </div>

    <div class="navbar-end">
      <a href="" class="item-nav-footer">
        @JEstebanCDev
      </a>
    </div>
  </div>

</footer>
