<div class="animate__animated animate__bounceInUp">
  <h1 class=" white-color is-flex p-3 pt-5 margin-left ">Who am I? 🧑🏻‍💻</h1>
  <div class="gray-color p-5">
    /**
    <p class="gray-color p-3 has-text-justified	">
      As a Fullstack Developer, I'm passionate about writing clean and efficient code. 💻 With my expertise in React<i
        class="ri-reactjs-line"></i>, Angular<i class="ri-angularjs-line"></i>, Redux, GraphQL, SpringBoot<i
        class="ri-leaf-fill"></i>, .Net, and relational and non-relational databases🗄️, I'm confident that I can help
      create web applications that are robust, secure, and highly functional🔥.
      <br>
      <br>
      I believe that my job is not just about writing code👨‍💻, but also about solving problems🧠 and creating
      solutions🧐 that meet the unique needs of each project. I have a keen eye👀 for detail and I pay close attention
      to user experience to ensure that the applications I create are intuitive, easy to use, and aesthetically
      pleasing🎯.
      <br>
      <br>
      Moreover, I am a dedicated team player🤝 and I strongly believe in collaboration as a means of achieving
      success💪. I enjoy working with other developers, designers, and stakeholders to build applications that exceed
      expectations and deliver results.💫
      <br>
      <br>
      If you're looking for a Fullstack Developer👨‍💻 who is not only technically proficient, but also a creative
      problem-solver, a collaborative team player, and a lifelong learner, then I am the developer you need on your
      team. <a href="/contact-me">Let's connect!🤝</a>
    </p>
    */
  </div>
</div>