<h1 class=" white-color is-flex p-3 pt-5 border-color-bottom">Who am I?</h1>
<div class="gray-color p-5">
  /**
  <p class="gray-color p-3 has-text-justified	">

    I'm an software engineer who constantly seeks out innovative solutions to everyday problems. I've honed my
    analytical thinking and collaboration skills, and I love working with a team. I'm passionate about learning
    the
    latest technological trends, focusing on my areas of interest such as Angular, Typescript and SpringBoot.

    <br>
    <br>

    I consider myself a responsible and honest person, in my free time I study courses that enhance and strengthen
    my
    professional technical profile.


  </p>
  */
</div>
