<div class="animate__animated animate__bounceInUp">
  <h1 class=" white-color is-flex p-3 pt-5 border-color-bottom margin-left ">Who am I? 🧑🏻‍💻</h1>
  <div class="gray-color p-5">
    /**
    <p class="gray-color p-3 has-text-justified	">

      I'm a software engineer☕ who constantly seeks out for innovative solutions to everyday challenges. I have
      analytical thinking and collaboration skills with multidisciplinary teams📈. I'm constantly looking for the
      latest technology trends and put them into practice by developing.

      <br>
      <br>

      I consider myself a responsible and honest person 🤔, in my free time I study courses that enhance and
      strengthen
      my
      professional technical profile. 📚


    </p>
    */
  </div>
</div>
