/* You can add global styles to this file, and also import other style files */
@import "bulma/css/bulma.css"
@import "remixicon/fonts/remixicon.css"
@font-face
  font-family: FiraCode
  src: url(fonts/FiraCode-VariableFont_wght.ttf)

// Import component
//Variables for the colors
$white : #E5E9F0
$blue : #4D5BCE
$green:#43D9AD
$orange:#E99287
$pink:#C98BDF
$button-orange:#FEA55F
$gray: #607B96
$color-background:#011627
$card-background:#011221
$card-border:#1E2D3D
$button-color:#1C2B3A


$breakpoint:799px
$breakpointSmall:667px
$breakpointTabletInit:765px
$breakpointTabletEnd:911px

//Font Family

$fontPrincipal:'FiraCode'

html
  background-color:$color-background

body
  font-family: $fontPrincipal !important
  height: 100%
  overflow-x: hidden
  overflow-y: hidden

a
  color:$orange

a:hover
  color:$blue

.scroll-info
  overflow: scroll
  height: 89vh
  overflow-x: hidden

.white-color
  color:$white

.blue-color
  color:$blue

.pink-color
  color:$pink

.blue-color-strong
  color:$blue
  font-weight: bold

.gray-color
  color:$gray

.background-gray-color
  color:$gray

.green-color
  color:$green

.orange-color
  color:$orange

.size-font-small
  font-size: 12px

.footer
  background-color :$color-background !important
  padding:  0rem !important
  position: absolute
  width: 100%
  bottom: 0


.subtitle-header
  font-weight: 450
  font-size: 32px
  line-height: 42px

.title-name
  font-weight: 400
  font-size: 62px
  line-height: 81px

.border-color
  border: 1px solid $card-border

.border-color-right
  border-right: 1px solid $card-border

.border-color-bottom
  border-bottom: 1px solid $card-border

.navbar-menu
  border-left: 1px solid $card-border

.navbar-end
  border-left: 1px solid $card-border

.button-color
  border-color: $button-color
  background-color:$button-color

.button-color:hover
  color:$white
  border-color: $button-color
  background-color:$gray

button:disabled,
button[disabled=disabled]
  color:$white
  border-color: $button-color
  background-color:$gray

.shadow
  position: absolute
  width: 454px
  height: 492px
  left: 1318.16px
  top: 336.65px
  opacity: 0.4
  filter: blur(174px)
  transform: rotate(13.51deg)

.item-nav
  border-right: 1px solid #1E2D3D
  padding-left: 1rem
  padding-right: 1rem
  padding-top: 1.5rem
  padding-bottom: 1rem
  align-items: center
  display: flex
  color:$gray

.margin-projects
  margin-top: 1.5rem

.item-nav:hover
  color:$white
  border-bottom: 1.5px solid $orange

.is-active
  color:$white
  border-bottom: 1.5px solid $orange

.item-nav-footer
  padding:0.8rem
  align-items: center
  display: flex
  color:$gray

.snippet-about-me
  margin-top: 0.8rem
  border-left:1px solid $card-border

.item-nav-footer:hover
  color:$orange

.background-shadow-1
  position: absolute
  width: 454px
  height: 492p
  left: 1014.08px
  top: 668.47px
  background: #43D9AD
  opacity: 0.4
  filter: blur(174px)
  transform: rotate(-94.3deg)

.background-shadow-2
  position: absolute
  width: 454px
  height: 492px
  left: 1318.16px
  top: 336.65px

  background: #4D5BCE
  opacity: 0.4
  filter: blur(174px)
  transform: rotate(13.51deg)

.info-header
  padding-top: 15rem !important
  padding-left: 0rem !important
  padding-right: 0rem !important


.snippet
  padding-top: 12rem !important
  padding-left: 0rem !important
  padding-right: 0rem !important

.button[disabled], fieldset[disabled] .button
  background-color: $card-background

.info-game
  padding-top: 15rem

.column
  padding: 0 !important

.nav-brand
  flex: none
  width: 16.66667% !important

.navbar-brand-side
  height: 90vh

.game
  border-radius: 35px

.box-game
  z-index: 1
  background: linear-gradient(150.26deg, rgba(23, 85, 83, 0.7) 1.7%, rgba(67, 217, 173, 0.091) 81.82%)
  border: 1px solid #0C1616
  box-shadow: inset 0px 2px 0px rgba(255, 255, 255, 0.3)
  backdrop-filter: blur(64px)
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px

.box-keyboard
  width: 190px
  height: 160px
  padding: 5px
  background: rgba(1, 20, 35, 0.19)
  border-radius: 8px

.keycap
  justify-content: center
  display: inline-block
  background: #010C15
  color:$white
  border: 1px solid #1E2D3D
  border-radius: 8px
  margin: 2px
  padding: 0rem 0.6rem 0rem 0.6rem

.checkbox:hover
  color:$orange

.widthcard
  flex: none
  width: 21rem
  margin-right: 20px
  margin-bottom: 20px

.card-padding
  padding-left: 1rem
  padding-right: 1rem
  padding-top: 0.3rem
  padding-bottom: 0.5rem

.input-form
  color:$gray
  background-color:$card-background
  border-color:  $card-border
.input-form::placeholder
  color:$gray

.list-project
  padding-top: 1rem
  padding-left: 3rem

.description-height
  display: flex
  width: 100%
  align-items: center
  height: 4.5rem

.tag-color
  background-color: $button-orange !important

.card
  border: 1px solid #1E2D3D

.card-background-color
  background-color: $card-background

pre
  background: none
  padding:1px 0px 0px 1px !important
  margin-top: -1.5rem

pre code.hljs
  padding:0px !important
  background-color:  $card-background
  border:1px solid $card-border
  border-radius: 10px

code.hljs
  padding:0
  font-family: $fontPrincipal

.image-shadow
  border-radius: 20px
  box-shadow: 0px 0px 28px 4px rgba(55,179,142,0.55)

.drop-shadow
  filter: drop-shadow(5px 5px 5px rgba(55,179,142,0.55))

.box-shadow
  background: linear-gradient(150.26deg, rgba(23, 85, 83, 0.7) 1.7%, rgba(67, 217, 173, 0.091) 81.82%)

  backdrop-filter: blur(64px)
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 35px
  &:before
    content: ""
    z-index: -1
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: linear-gradient(31deg, #60efff 36%, #4a8fffb9 50%)
    transform: translate3d(0px, 0px, 0) scale(0.88)
    filter: blur(90px)
    opacity: var(0.24)
    transition: opacity 0.3s
    border-radius: inherit

  &::after
    content: ""
    z-index: -1
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    background: inherit
    border-radius: inherit


@media screen and (min-width: 1300px) and (max-width: 1350px)
  .info-game
    padding-top:3rem !important

  .info-header
    padding-top: 7rem !important

  .padding-contact
    padding-top:4rem !important

  .padding-snippet
    padding-top:8rem !important

@media screen and (min-width: 1024px) and (max-width: 1185px)

  .info-game
    padding-top:3rem !important

  .info-header
    padding-top: 7rem !important
    padding-left: 3rem !important

  .padding-contact
    padding-top:4rem !important

  .padding-snippet
    padding-top:8rem !important

  .column.is-2, .column.is-2-tablet
    flex: none !important
    width: 21% !important

  .column.is-10, .column.is-10-tablet
    flex: none
    width: 78%

@media screen and ( max-width: 1420px )

@media screen and ( max-width: $breakpoint )

